body {
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	width: 400px;
}

h3 {
	display: inline;
}

p {
	line-height: 100%;
	margin: 3px;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*containers*/

#alerts, #invasions, #links {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(130,130,130,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(130,130,130,1);
	box-shadow: 0px 0px 10px 0px rgba(130,130,130,1);
}

#alerts-header, #invasions-header {
	overflow: hidden;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
}

.left-header {
	flex: 0 0 80%;
}

.right-header {
	text-align: right;
	padding-top: 5px;
	flex: 1;
}

#alerts-container, #invasions-container {
	padding-bottom: 5px;
}

.item-alert {
	display: flex;
	background-color: lightblue;
	border-radius: 25px;

	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.item-invasion {
	background-color: lightblue;
	border-radius: 25px;

	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.left-item {
	flex: 1;
}

.right-item {
	border-radius: 100%;
	background-color: white;
	height: 50px;
	width: 50px;
}

.timer-item {
	display: block;
	margin: auto;
}

.progressbar-text {
	font-weight: bold;
}

#footer {
	text-align: center;
	font-size: 70%;
}

#notifications-toggle-on, #notifications-toggle-off {
	font-weight: bold;
}

/* searchbar */

#search {
	display: flex;
	margin-top: 10px;
}

input[type='text'] {
	flex: 90%;
	font-family: sans-serif;
	appearance: none;
	box-shadow: none;
	border-radius: none;

	padding: 5px;
	border: solid 2px #c9c9c9;
	transition: border 0.5s;
}

input[type='text']:focus {
	border: solid 2px #969696;
	outline: none;
}

button[type='submit'] {
	flex: 1;
	border: none;
	background-color: #c9c9c9;
	color: white;
	transition: background-color 0.5s;
}

button[type='submit']:hover {
	background-color: #969696;
}

button[type='submit']:focus {
	outline: none;
}

/*images*/

#header-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#alerts-toggle, #invasions-toggle {
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

/*scrollbar*/

::-webkit-scrollbar {
    height: 12px;
	width: 5px;
	background: white;
    }

::-webkit-scrollbar-thumb {
	background: grey;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: white;
}