body {
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	width: 400px;
}


table {
	margin: 5px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	font-size: 80%;
}

td {
	border: 1px solid lightgrey;
	padding: 2px;
}

h3 {
	display: inline;
	text-align: center;
}

p {
	line-height: 100%;
	margin: 2px;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*containers*/

.left-header {
	flex: 0 0 80%;
}

.right-header {
	text-align: right;
	padding-top: 5px;
	flex: 1;
}

.alert-item {
	display: flex;
	background-color: lightblue;
	border-radius: 25px;

	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.invasions-item {
	background-color: lightblue;
	border-radius: 25px;

	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.left-item {
	flex: 1;
}

.right-item {
	border-radius: 100%;
	background-color: white;
	height: 50px;
	width: 50px;
}

.timer-item {
	display: block;
	margin: auto;
}

.progressbar-text {
	font-weight: bold;
}

#alerts-header, #invasions-header {
	overflow: hidden;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
}

#alerts, #invasions {
	margin-top: 10px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(130,130,130,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(130,130,130,1);
	box-shadow: 0px 0px 10px 0px rgba(130,130,130,1);
}

/*images*/

#header-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#alerts-toggle, #invasions-toggle {
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

/*scrollbar*/

::-webkit-scrollbar {
    height: 12px;
	width: 3px;
	background: white;
    }

::-webkit-scrollbar-thumb {
	background: grey;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: white;
}